<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Display Data</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<div class="container">


		<h2>Display Data</h2>

		<a class="btn btn-primary" th:href="@{/generating(city=${field.city}, countryName=${field.country})}">Export</a>
		<div class="row">
			<div class="col-md-6">
				<h3>Hotel</h3>
				<div class="row p-2">
					<div class="col-md-6 form-row">
						<label class="col-form-label">city: </label>
						<p th:text="${hotel.term}"></p>
					</div>
					<div class="col-md-6 form-row">
						<label class="col-form-label">more suggestions: </label>
						<p th:text="${hotel.moresuggestions}"></p>
					</div>
					<div class="col-md-6 form-row">
						<label class="col-form-label">trackingID: </label>
						<p th:text="${hotel.trackingID}"></p>
					</div>
					<div class="col-md-6 form-row">
						<label class="col-form-label">group: </label>
						<p th:text="${hotel.suggestion.group}"></p>
					</div>
				</div>
				

				
					
				<ul th:each="entity : ${hotel.suggestion.entities}" class="list-group p-2">
					<li  class="list-group-item active">
						<label class="col-form-label">name: </label>
						<p th:text="${entity.name}"></p>
					</li>
					<li  class="list-group-item">
						<label class="col-form-label">geoId: </label>
						<p th:text="${entity.geoId}"></p>
					</li>
					
					<li  class="list-group-item">
						<label class="col-form-label">caption: </label>
						<p th:text="${entity.caption}"></p>
					</li>
					<li  class="list-group-item">
						<label class="col-form-label">destinationId: </label>
						<p th:text="${entity.destinationId}"></p>
					</li>
					<li  class="list-group-item">
						<label class="col-form-label">landmarkCityDestinationId: </label>
						<p th:text="${entity.landmarkCityDestinationId}"></p>
					</li>
					<li  class="list-group-item">
						<label class="col-form-label">type: </label>
						<p th:text="${entity.type}"></p>
					</li>
					<li  class="list-group-item">
						<label class="col-form-label">latitude: </label>
						<p th:text="${entity.latitude}"></p>
					</li>
					<li  class="list-group-item">
						<label class="col-form-label">longitude: </label>
						<p th:text="${entity.longitude}"></p>
					</li>
				</ul>
					

				

			</div>



			<div class="col-md-6">
				<h3>Weather</h3>
				<div class="row p-2">
					<h4>Coord</h4>
					<div class="col-md-6 form-row">
						<label class="col-form-label">lon: </label>
						<p>lon: </p>
						<p th:text="${weather.coord.lon}"></p>
					</div>
					<div class="col-md-6 form-row">
						<label class="col-form-label">lat: </label>
						<p th:text="${weather.coord.lat}"></p>
					</div>

					<ul th:each="w : ${weather.weather}" class="list-group p-2">
						<li  class="list-group-item">
							<label class="col-form-label">id: </label>
							<p th:text="${w.id}"></p>
						</li>
						<li  class="list-group-item">
							<label class="col-form-label">main: </label>
							<p th:text="${w.main}"></p>
						</li>
						<li class="list-group-item">
							<label class="col-form-label">description: </label>
							<p th:text="${w.description}" ></p>
						</li>
						<li  class="list-group-item">
							<labe class="col-form-label">icon: </label>
							<p th:text="${w.icon}"></p>
						</li>
					</ul>

					<div class="col-md-4 form-row">
						<label class="col-form-label">base: </label>
						<p th:text="${weather.base}"></p>

					</div>

					<h4>Main</h4>

					<div class="col-md-4 form-row">
						<label class="col-form-label">temp: </label>
						<p th:text="${weather.main.temp}"></p>
					</div>

					<div class="col-md-4 form-row">
						<label class="col-form-label" > feels_like: </label>
						<p th:text="${weather.main.feels_like}"></p>
					</div>
					<div class="col-md-4 form-row">
						<label class="col-form-label">temp_min: </label>
						<p th:text="${weather.main.temp_min}"></p>
					</div>

					<div class="col-md-4 form-row">
						<label class="col-form-label">temp_max: </label>
						<p th:text="${weather.main.temp_max}"></p>
					</div>
					<div class="col-md-4 form-row">
						<label class="col-form-label">pressure: </label>
						<p th:text="${weather.main.pressure}"></p>
					</div>
					<div class="col-md-4 form-row">
						<label class="col-form-label">humidity: </label>
						<p th:text="${weather.main.humidity}"></p>

					</div>
					<div class="col-md-4 form-row">
						<label class="col-form-label">visibility: </label>
						<p th:text="${weather.visibility}"></p>
					</div>

					<h4>Wind</h4>

					<div class="col-md-6 form-row">
						<label class="col-form-label">speed: </label>
						<p th:text="${weather.wind.speed}"></p>
					</div>
					<div class="col-md-6 form-row">
						<label class="col-form-label">deg: </label>
						<p th:text="${weather.wind.deg}"></p>
					</div>


					<div class="col-md-12 form-row">
						<label class="col-form-label">Clouds: </label>
						<p th:text="${weather.clouds.all}"></p>
					</div>

					<div class="col-md-4 form-row">
						<label class="col-form-label">dt: </label>
						<p th:text="${weather.dt}"></p>
					</div>

					<h4>sys</h4>
					<div class="col-md-4 form-row">
						<label class="col-form-label">type: </label>
						<p th:text="${weather.sys.type}"></p>

					</div>
					<div class="col-md-4 form-row">
						<label class="col-form-label">id: </label>
						<p th:text="${weather.sys.id}"></p>

					</div>
					<div class="col-md-4 form-row">
						<label class="col-form-label">country: </label>
						<p th:text="${weather.sys.country}"></p>

					</div>
					<div class="col-md-4 form-row">
						<label class="col-form-label">sunrise: </label>
						<p th:text="${weather.sys.sunrise}"></p>

					</div>
					<div class="col-md-4 form-row">
						<label class="col-form-label">sunset: </label>
						<p th:text="${weather.sys.sunset}"></p>

					</div>

					<div class="col-md-4 form-row">
						<label class="col-form-label">visibility: </label>
						<p th:text="${weather.timezone}"></p>
					</div>
					<div class="col-md-4 form-row">
						<label class="col-form-label">Id: </label>
						<p th:text="${weather.id}"></p>
					</div>
					<div class="col-md-4 form-row">
						<label class="col-form-label">Name: </label>
						<p th:text="${weather.name}"></p>
					</div>
				</div>
				
				

			</div>
		</div>



	</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>