<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Input Field</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <h2>Select Input Field Data</h2>
    <form action="#" th:action="@{/display-data}"  th:object="${field}" method="post">

    	<label>country</label>
    	<select th:field="*{country}" class="form-select">
		    <option th:value="'Norway'" th:text="'Norway'"></option>
		    <option th:value="'Denmark'" th:text="'Denmark'"></option>
		    <option th:value="'United Kingdom'" th:text="'United Kingdom'"></option>
		    <option th:value="'Serbia'" th:text="'Serbia'"></option>
		    <option th:value="'Bosnia and Herzegovina'" th:text="'Bosnia and Herzegovina'"></option>
		</select>

        <div class="mb-3">
          <label for="city" class="form-label">city</label>
          <input type="text" th:field="*{city}" class="form-control" id="city">
        </div>

        <div class="mb-3">
          <label for="date" class="form-label">date</label>
          <input type="date" th:field="*{date}" class="form-control" id="date">
        </div>
        
        <input type="submit" class="btn btn-secondary" value="Submit" />
    </form>
</div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>